@layout('layouts')

@section('content')

    <header>
        <h1>Pizza da ToTo</h1>
        <p>Chose your delicious pizza made by the hands of ToTo by clicking <a href="/index">here</a></p>
    </header>

@endsection